{% extends "layout.html" %}
{% block body %}

    <br>
    <h3> <center>Pangkalan Data</center> </h3>

    <div class="table100 ver1 m-b-110">
        {{ pagination.info }}
        <table data-vertable="ver1">
        <thead>
        <tr class="row100 head">
        <th class="column100 column1" data-column="column1">#</th>
        <th class="column100 column2" data-column="column2">Tanggal</th>
        <th class="column100 column3" data-column="column3">Nama</th>
        <th class="column100 column4" data-column="column4">Alamat</th>
        <th class="column100 column5" data-column="column5">Kota</th>
        <th class="column100 column6" data-column="column6">Provinsi</th>
        <th class="column100 column7" data-column="column7">No.Hp</th>
        <th class="column100 column8" data-column="column8">Produk</th>
        <th class="column100 column9" data-column="column9">Jumlah</th>
        <th class="column100 column10" data-column="column10">Total</th>
        <th class="column100 column11" data-column="column11">Action</th>
        <th class="column100 column11" data-column="column11"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr class="row100">        
            <td class="column100 column1" data-column="column1">{{ loop.index + pagination.skip }}</td>
            <td class="column100 column2" data-column="column2">{{ user.sold_at }}</td>
            <td class="column100 column3" data-column="column3">{{ user.buyer_name }}</td>
            <td class="column100 column4" data-column="column4">{{ user.buyer_address }}</td>
            <td class="column100 column5" data-column="column5">{{ user.city }}</td>
            <td class="column100 column6" data-column="column6">{{ user.region }}</td>
            <td class="column100 column7" data-column="column7">{{ user.phone_number }}</td>
            <td class="column100 column8" data-column="column8">{{ user.bought_product }}</td>
            <td class="column100 column9" data-column="column9">{{ user.quantity }}</td>
            <td class="column100 column10" data-column="column10">{{ user.total }}</td>
            <td class="column100 column11" data-column="column11">
                <form action="{{url_for('edit_product')}}" method="post">
                    <input type="hidden" name="user_id" value="{{ user.id }}" >
                    <input type="submit" value="Edit" class="btn btn-secondary btn-sm"> 
                </form>
            </td>
            <td class="column100 column11" data-column="column11">
                <form action="{{url_for('confirmation')}}" method="post">
                    <input type="hidden" name="user_id" value="{{ user.id }}" >
                    <input type="submit" value="Hapus" class="btn btn-danger btn-sm">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {{ pagination.links }}
    <br>
    <form action="{{url_for('export')}}" method="post">
        <div class="date_table" style="padding-left: 2em; padding-right: 50em;">
            <table >
                <tr>
                    <th><label for="">From:</label> </th>
                    <th><label for=""> To: </label> </th>
                </tr>
                <tr>
                    <td><input type="date" name="from_date" placeholder="yyyy-mm-dd"></td>
                    <td><input type="date" name="to_date" placeholder="yyyy-mm-dd"></td>
                    <td><input type="submit" value="export" class="btn btn-primary"></td>
                </tr>
            </table>
        </div>
        
    </form>
    <br>

    

    
    <script type="text/javascript">
        (function ($) {
        "use strict";
        $('.column100').on('mouseover',function(){
        var table1 = $(this).parent().parent().parent();
        var table2 = $(this).parent().parent();
        var verTable = $(table1).data('vertable')+"";
        var column = $(this).data('column') + "";
        $(table2).find("."+column).addClass('hov-column-'+ verTable);
        $(table1).find(".row100.head ."+column).addClass('hov-column-head-'+ verTable);
        });
        $('.column100').on('mouseout',function(){
        var table1 = $(this).parent().parent().parent();
        var table2 = $(this).parent().parent();
        var verTable = $(table1).data('vertable')+"";
        var column = $(this).data('column') + "";
        $(table2).find("."+column).removeClass('hov-column-'+ verTable);
        $(table1).find(".row100.head ."+column).removeClass('hov-column-head-'+ verTable);
        });
        })(jQuery);
    </script>    
    
{% endblock %}